version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: unless-stopped
    ports:
      - "8080:8080"
      - "50000:50000"
    hostname: jenkins
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    volumes:
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/jenkins/home:/var/jenkins_home"

  nexus:
    image: sonatype/nexus3:latest
    container_name: nexus
    restart: unless-stopped
    ports:
      - "8081:8081"
    hostname: nexus
    volumes:
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/nexus/data:/nexus-data"

  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: sonar
      POSTGRES_PASSWORD: sonar
      POSTGRES_DB: sonar
    volumes:
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/postgres/data:/var/lib/postgresql/data"
    ports:
      - "5432:5432"

  sonarqube:
    image: sonarqube:latest
    container_name: sonarqube
    restart: unless-stopped
    ports:
      - "9000:9000"
    hostname: sonarqube
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://postgres:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
      - SONAR_ES_BOOTSTRAP_CHECKS_DISABLE=true
    depends_on:
      - postgres
    volumes:
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/sonarqube/data:/opt/sonarqube/data"
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/sonarqube/extensions:/opt/sonarqube/extensions"
      - "D:/DOCKER LOCAL TEST RESOURSES WINDOWS/sonarqube/logs:/opt/sonarqube/logs"
